@use 'tokens';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text-primary);
    transition: background-color 0.3s, color 0.3s;
    line-height: 1.5;
    font-size: var(--text-body-2); // Set base size to 1rem
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading), var(--font-family);
    margin-top: 0;
    color: var(--color-text-primary);
}